@model SmartBazaar.Web.Areas.Admin.Models.PagesEditViewModel

@{
    ViewBag.Title = "Sayfa Düzenleme";
    Layout = "~/Areas/Admin/Views/Shared/LayoutTemplates/EditorLayout.cshtml";
    ViewBag.Subtitle = "Sayfa Düzenleme";
}

@section Breadcumbs {
    <li>
        @Html.ActionLink("Sayfalar", "Index")
    </li>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsFixed)
    <div class="form-horizontal">
        @Html.Partial("CustomTemplates/ValidationSummary", ViewData.ModelState)
        @Html.EditorFor(model => model.Caption)
        @Html.EditorFor(model => model.Status)
        @Html.EditorFor(model => model.Detail)
        @Html.Partial("EditorTemplates/Submit")
    </div>
}

@section css {
    @Styles.Render("~/plugins/summernote-css")
}

@section scripts {
    @Scripts.Render("~/plugins/summernote-js")

    <script type="text/javascript">
        $(".summernote").summernote({ height: 300 });
    </script>
}