@model IEnumerable<SmartBazaar.Web.Areas.Admin.Models.CustomerEntityListViewModel>
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Areas/Admin/Views/Shared/LayoutTemplates/ListLayout.cshtml";
}

@section Breadcumbs {
<li>
    @Html.ActionLink("Müşteriler", "Index")
</li>
}

@section Filters {
<div class="form-group col-sm-4">
    <label class="control-label col-md-3 col-sm-4">Durum</label>
    <div class="col-md-9 col-sm-8">
        @Html.DropDownList("Status", null, new { @class = "form-control" })
    </div>
</div>
<div class="form-group col-sm-5">
    <label class="control-label col-md-3 col-sm-4">Ad Soyad</label>
    <div class="col-md-9 col-sm-8">
        @Html.TextBox("CustTitle", null, new { @class = "form-control" })
    </div>
</div>
}

<tr>
    <th>
        @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.GroupTitle)
    </th>
    <th style="width: 100px;">
        @Html.DisplayNameFor(model => model.Status)
    </th>
    <th style="width: 140px;"></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "label label-primary" })
            @Html.ActionLink("Detay", "Detail", new { id = item.Id }, new { @class = "label label-info" })
        </td>
    </tr>
}