@model IEnumerable<SmartBazaar.Web.Models.Site.OrderHeaderListViewModel>
@using SmartBazaar.Web.Models.Common
@{
    ViewBag.Title = "Siparişlerim";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Tutar</th>
            <th style="width: 120px;">Durum</th>
            <th style="width: 80px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@string.Format("{0:dd.MM.yyyy HH:mm}", item.OrderDate)</td>
                <td style="text-align: right;">@string.Format("{0:F2}", item.GrandTotal) TL</td>
                <td>@OrderHeadsListProvider.GetStatuses().FirstOrDefault(f => f.Key == item.Status).Value</td>
                <td>
                    <a href="@Url.Action("Detail", new { id = item.Id })">
                        Detay
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>