@model IEnumerable<SmartBazaar.Web.Areas.Admin.Models.CatalogCategoryListViewModel>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Areas/Admin/Views/Shared/LayoutTemplates/ListLayout.cshtml";
    ViewBag.CreateUrl = @Url.Action("CreateCategory");
}

@section Breadcumbs {
    <li>
        <a href="@Url.Action("Index")">Ürünler</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        @Html.ActionLink("Kategoriler", "Categories")
    </li>
}
@section Filters {
    <div class="form-group col-sm-9">
        <label class="control-label col-md-3 col-sm-4">@Html.DisplayNameFor(model => model.Status)</label>
        <div class="col-md-9 col-sm-8">
            @Html.DropDownList("Status", null, new { @class = "form-control" })
        </div>
    </div>
}

<tr>
    <th>
        @Html.DisplayNameFor(model => model.Parent)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Caption)
    </th>
    <th style="width: 100px;">
        @Html.DisplayNameFor(model => model.Status)
    </th>
    <th style="width: 120px;"></th>
</tr>

@foreach (var item in Model.OrderBy(o => o.RowNr))
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "EditCategory", new { id = item.Id }, new { @class = "label label-primary" })
            @Html.ActionLink("Sil", "DeleteCategory", new { id = item.Id }, new { @class = "label label-danger", onclick = "return confirm('Kayit silinsin mi?')" })
        </td>
    </tr>
}


